{:boot-reload      {:on-jsload trendtracker.core/reload}
 :compiler-options {:main       trendtracker.core
                    :asset-path "js/trendtracker.out"
                    :source-map true}}
