{:boot-reload      {:on-jsload trendtracker.core/reload}
 :init-fns         [trendtracker.core/main]
 :compiler-options {:main           trendtracker.core
                    :asset-path     "js/trendtracker.out"
                    :parallel-build true
                    :source-map true}}
